.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  width: 100%;

  &__inputs {
    margin-bottom: 30px;
  }

  &__element {
    margin-bottom: 15px;
    width: 100%;
  }

  &__providers {
    display: flex;
    justify-content: center;
    gap: 10px;

    svg {
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
