.button {
  border-radius: 4px;
  background: var(--blueRibbon);
  padding: 12px 23px;
  border: none;
  color: white;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;

  &:hover {
    background: var(--blueRibbon-hover);
  }

  &:active {
    background: var(--blueRibbon-active);
  }

  &_fullWidth {
    width: 100%;
  }
}
