.input {
  padding: 12px 0 14px 14px;
  border: 1px solid var(--alto-50);
  border-radius: 4px;

  font-size: 14px;
  font-family: inherit;

  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: var(--alto);
  }
}

.error {
  color: #e53935;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}
